@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@keyframes shopping-item {
  0% {
    transform: translateX(-20vw);
    opacity: 1;
  }
  100% {
    transform: translateX(120vw);
    opacity: 0;
  }
}

.animate-shopping-item {
  animation: shopping-item var(--duration) linear infinite;
  animation-delay: var(--delay);
  animation-fill-mode: backwards;
}
